﻿@{
    ViewBag.Title = "Home Page";
}
@using VPOpenQA.Models;
@model Tuple<VariableModel, CitiesModel>


@using (Html.BeginForm("GetCityBYCountry", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(tuple => tuple.Item1.Country)
    @Html.ValidationMessageFor(tuple => tuple.Item1.Country)
    <button type="submit">Search</button>

    <div>
        @if (Model != null )
        {
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>City </th>
                    <th>Country </th>
                    <th>Location </th>
                    <th>Count</th>
                </tr>
                @foreach (var d in Model.Item2.Results)
                {
                    <tr>
                        <td>@d.city</td>
                        <td>@d.country</td>
                        <td>@d.location</td>
                        <td>@d.count</td>


                    </tr>

                }
            </table>
        }
    </div>
}
